<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="cpmodeling_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="cpmodeling_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="CPmodeling.diagram.part.CPmodelingDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/CPmodelingDiagramFile.gif"
         extensions="cpmodeling_diagram"
         default="true"
         class="CPmodeling.diagram.part.CPmodelingDiagramEditor"
         matchingStrategy="CPmodeling.diagram.part.CPmodelingMatchingStrategy"
         contributorClass="CPmodeling.diagram.part.CPmodelingDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="CPmodeling.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/CPmodelingDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="CPmodeling.diagram.part.CPmodelingCreationWizard"
  	     id="CPmodeling.diagram.part.CPmodelingCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="CPGMF.diagram.InitDiagram"
            nameFilter="*.cpmodeling"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="CPmodeling.diagram.part.CPmodelingInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="CPGMF.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="CPmodelingPresentation">
         <Priority name="Lowest"/>
         <ViewId id="CPmodeling.diagram.part.CPmodelingDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="CPmodelingPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="CPmodeling.diagram.part.CPmodelingDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="CPmodelingRender">
         <Priority name="Lowest"/>
         <ViewId id="CPmodeling.diagram.part.CPmodelingDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="CPmodeling.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="CPGMF.diagram.general"
            name="%prefpage.CPGMF.diagram.general"
            class="CPmodeling.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="CPGMF.diagram.appearance"
            name="%prefpage.CPGMF.diagram.appearance"
            category="CPGMF.diagram.general"
            class="CPmodeling.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="CPGMF.diagram.connections"
            name="%prefpage.CPGMF.diagram.connections"
            category="CPGMF.diagram.general"
            class="CPmodeling.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="CPGMF.diagram.printing"
            name="%prefpage.CPGMF.diagram.printing"
            category="CPGMF.diagram.general"
            class="CPmodeling.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="CPGMF.diagram.rulersAndGrid"
            name="%prefpage.CPGMF.diagram.rulersAndGrid"
            category="CPGMF.diagram.general"
            class="CPmodeling.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="CPGMF.diagram"
            labelProvider="CPmodeling.diagram.sheet.CPmodelingSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="CPGMF.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="CPGMF.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="CPmodeling.diagram.sheet.CPmodelingPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="CPmodeling.diagram.navigator.CPmodelingAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="CPmodeling.diagram.providers.CPmodelingViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="CPmodeling"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002,4003"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="CPmodeling.diagram.providers.CPmodelingEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="CPmodeling"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002,4003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="CPmodeling.diagram.providers.CPmodelingModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="CPmodeling.diagram.edit.parts.EnvironmentEditPart" id="Environment_1000"/>
         <object class="CPmodeling.diagram.edit.parts.MainMemoryEditPart" id="MainMemory_2001"/>
         <object class="CPmodeling.diagram.edit.parts.VirtualMachineEditPart" id="VirtualMachine_2002"/>
         <object class="CPmodeling.diagram.edit.parts.ProcessorEditPart" id="Processor_2003"/>
         <context elements="Environment_1000,MainMemory_2001,VirtualMachine_2002,Processor_2003,"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="CPmodeling.diagram.providers.CPmodelingIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="CPmodeling.diagram.providers.CPmodelingParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///CPmodeling.ecore">
         <metamodelType
               id="CPGMF.diagram.Environment_1000"
               name="%metatype.name.Environment_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="environment"
               edithelper="CPmodeling.diagram.edit.helpers.EnvironmentEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///CPmodeling.ecore">
         <metamodelType
               id="CPGMF.diagram.MainMemory_2001"
               name="%metatype.name.MainMemory_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="mainMemory"
               edithelper="CPmodeling.diagram.edit.helpers.MainMemoryEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///CPmodeling.ecore">
         <metamodelType
               id="CPGMF.diagram.VirtualMachine_2002"
               name="%metatype.name.VirtualMachine_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="virtualMachine"
               edithelper="CPmodeling.diagram.edit.helpers.VirtualMachineEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///CPmodeling.ecore">
         <metamodelType
               id="CPGMF.diagram.Processor_2003"
               name="%metatype.name.Processor_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="processor"
               edithelper="CPmodeling.diagram.edit.helpers.ProcessorEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///CPmodeling.ecore">
         <specializationType
               id="CPGMF.diagram.VirtualMachineRAMs_4001"
               name="%metatype.name.VirtualMachineRAMs_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///CPmodeling.ecore">
         <specializationType
               id="CPGMF.diagram.VirtualMachineVMs_4002"
               name="%metatype.name.VirtualMachineVMs_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///CPmodeling.ecore">
         <specializationType
               id="CPGMF.diagram.VirtualMachineCPUs_4003"
               name="%metatype.name.VirtualMachineCPUs_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4003"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="CPGMF.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="CPGMF.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="CPGMF.diagram.TypeContext">
         <elementType ref="CPGMF.diagram.Environment_1000"/>
         <elementType ref="CPGMF.diagram.MainMemory_2001"/>
         <elementType ref="CPGMF.diagram.VirtualMachine_2002"/>
         <elementType ref="CPGMF.diagram.Processor_2003"/>
         <elementType ref="CPGMF.diagram.VirtualMachineRAMs_4001"/>
         <elementType ref="CPGMF.diagram.VirtualMachineVMs_4002"/>
         <elementType ref="CPGMF.diagram.VirtualMachineCPUs_4003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="CPGMF.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="CPGMF.diagram"
           properties="isURIEditorInput"
           class="CPmodeling.diagram.part.CPmodelingUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="CPGMF.diagram.resourceContent"/>
			<contentExtension pattern="CPGMF.diagram.domainResourceContent"/>
            <contentExtension pattern="CPGMF.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="CPGMF.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="CPGMF.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="CPmodeling.diagram.navigator.CPmodelingNavigatorContentProvider" 
            labelProvider="CPmodeling.diagram.navigator.CPmodelingNavigatorLabelProvider"
            icon="icons/obj16/CPmodelingDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="cpmodeling_diagram"/>
               </and>
               <instanceof value="CPmodeling.diagram.navigator.CPmodelingAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="CPmodeling.diagram.navigator.CPmodelingAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="CPGMF.diagram.navigatorSorter" 
               class="CPmodeling.diagram.navigator.CPmodelingNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="cpmodeling_diagram"/>
                  </and>
                  <instanceof value="CPmodeling.diagram.navigator.CPmodelingAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="CPGMF.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="CPmodeling.diagram.navigator.CPmodelingDomainNavigatorContentProvider" 
            labelProvider="CPmodeling.diagram.navigator.CPmodelingDomainNavigatorLabelProvider"
            icon="icons/obj16/CPmodelingDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="cpmodeling"/>
               </and>
               <instanceof value="CPmodeling.diagram.navigator.CPmodelingDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="CPmodeling.diagram.navigator.CPmodelingDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="CPGMF.diagram.navigatorActionProvider"
            class="CPmodeling.diagram.navigator.CPmodelingNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="CPmodeling.diagram.navigator.CPmodelingAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="CPGMF.diagram.navigatorLinkHelper"
            class="CPmodeling.diagram.navigator.CPmodelingNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="CPGMF.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="CPmodeling.diagram.navigator.CPmodelingAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="CPmodeling.diagram.part.CPmodelingDiagramUpdateCommand"
         description="%update.diagram.description"
         id="CPmodeling.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="CPmodeling.diagram.updateDiagram"
         contextId="CPmodeling.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="CPGMF.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="CPmodeling.diagram.part.CPmodelingDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="CPmodeling.diagram.edit.parts.EnvironmentEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="CPmodeling.diagram.part.CPmodelingDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="CPGMF.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="CPmodeling.diagram.part.CPmodelingDiagramEditorID"
         defaultHandler="CPmodeling.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
