<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cpg -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cloudProvisioning.presentation.CloudProvisioningModelWizardID"
            name="%_UI_CloudProvisioningModelWizard_label"
            class="cloudProvisioning.presentation.CloudProvisioningModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CloudProvisioningModelFile.gif">
         <description>%_UI_CloudProvisioningModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cpg -->
      <editor
            id="cloudProvisioning.presentation.CloudProvisioningEditorID"
            name="%_UI_CloudProvisioningEditor_label"
            icon="icons/full/obj16/CloudProvisioningModelFile.gif"
            extensions="cloudprovisioning"
            class="cloudProvisioning.presentation.CloudProvisioningEditor"
            contributorClass="cloudProvisioning.presentation.CloudProvisioningActionBarContributor">
      </editor>
   </extension>

</plugin>
